<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lead create</title>
</head>
<body>
<a href="{% url 'leads:lead-list' %}">Go back to leads</a>
<hr/>
<h1>Create a new lead</h1>
<form method="post">
    <!-- action="./some/url/"  - после сабмита перенаправляет на указанную страницу-->
    {% csrf_token %}<!-- csrf_token - security way to post the information-->
    {{ form.as_p }} <!--.as_p - как параграф... просто вертикально ставить  fields of model-->
    <button type="submit">Submit</button>
</form>
</body>
</html>