<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Lead detail</h1>
<a href="/leads">Go back to leads</a>
<p>primary key of this lead is.... {{pk}} and his name and age is ...{{lead.first_name}}, {{lead.age}}
</p>
<p>The agent responsible for this lead is : {{ lead.agent }}</p>

</body>
</html>