{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<div class="max-w-lg mx-auto">
    <h1 class="text-center text-3xl text-gray-800 pb-1">Create a new agent</h1>
    <form method="post">
        <!-- action="./some/url/"  - после сабмита перенаправляет на указанную страницу-->
        {% csrf_token %}<!-- csrf_token - security way to post the information-->
        {{ form|crispy }}
        <button type="submit" class="w-full text-white bg-purple-500 hover:bg-purple-600 mt-2 px-3 py-2 rounded-md">
            Submit
        </button>
    </form>
    <div class="text-center	py-2 border-t border-gray-300 mt-5 hover:text-blue-500">
        <a href="{% url 'agents:agent-detail' agent.pk %}">Go back to agents</a>
    </div>
</div>
{% endblock content %}

